# Laravel specific ignores
/node_modules
/public/hot
/public/
/public/storage
/storage/*.key
/vendor
/.env
/.env.backup
/.env.*.backup
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# PhpStorm
/.idea
/.phpstorm.meta.php
/.vscode

# Ignore
/.idea/
/.idea/*
