
.swal2-timer-progress-bar {
    background: rgba(239, 126, 46, 0.52) !important; /* Replace #ff0000 with your desired color */
}


.no-arrow-homedrop {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: transparent !important;
    background-image: none !important;
}

.no-spinner {
    /* برای مرورگرهای وب‌کیت مانند کروم و سافاری */
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* برای فایرفاکس */
.no-spinner {
    -moz-appearance: textfield;
}

.dropdown-menu-center-hompage {
    right: 50% !important;
    left: auto !important;
    transform: translateX(50%) !important;
}

.custom-hr-title-panel {
    border: none;
    height: 1px; /* عرض خط */
    background: linear-gradient(to left, orangered 3cm, black 3cm);
    margin-top: 10px; /* فاصله از بالا */
}

.custom-hr-title-panel {
    border: none;
    height: 1px; /* عرض خط */
    background: linear-gradient(to left, orangered 3.5cm, rgba(96, 85, 75, 0.22) 3cm);
    margin-top: 10px; /* فاصله از بالا */
}

.dropdown-toggle-addressbtnedit::after {
    display: none !important;
}

@media (min-width: 768px) and (max-width: 1110px) {
    .fixed-height-eedcard {
        height: 350px !important;
    }
}

@media (max-width: 925px) {
    .hidden-pic-footer {
        display: none;
    }
}


.small-font-eed {
    font-size:0.9rem ; /* تغییر اندازه فونت به 75% اندازه پایه */
}

.scrollable-alert-eed {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #0c6af3 !important; /* رنگ مرز مشابه رنگ alert-info */
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* سایه */
    padding: 1rem;
}
/* زیباسازی نوار اسکرول */
.scrollable-alert-eed::-webkit-scrollbar {
    width: 8px;
}
.scrollable-alert-eed::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 4px;
}
.scrollable-alert-eed::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}

.custom-offset-eed {
    margin-right: calc(8.33333% / 2); /* نصف ستون برای سیستم 12 ستونی */
}
