.no-arrow {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: transparent !important;
    background-image: none !important;
}

.no-spinner {
    /* برای مرورگرهای وب‌کیت مانند کروم و سافاری */
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* برای فایرفاکس */
.no-spinner {
    -moz-appearance: textfield;
}

.dropdown-menu-center-hompage {
    right: 50% !important;
    left: auto !important;
    transform: translateX(50%) !important;
}



