.select2-selection__choice__display
{

    color:#000000;
    font-size:12px !important;
    border:1px solid #2fc0e1;

}

.select2-selection__choice__remove
{
    border:1px solid #2fc0e1 !important;
    border-left: none !important;


}

/* Apply custom styles to the Select2 container */
.select2-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px;
    width: auto;
    font-size:13px !important;
    /* Add more styles as needed */
}

.btn-remove {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1;
}

.col:hover .btn-remove {
    opacity: 1;
}
.custom-image-container {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-image-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
    cursor: pointer;
}

.custom-image-thumb-container:hover .custom-image {
    transform: scale(1.1);
}

.btn-remove {
    position: absolute;
    top: 3px;
    right: 5px;
    background-color: #f44336;
    border: none;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn-remove:hover {
    background-color: #d32f2f;
}

/* Your existing custom styles here */

.custom-image-container {
    position: relative;
}
.modal-body img {

    max-width: 100%;
    max-height: 80vh;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.50rem;

}

.custom-image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    transition: opacity 0.4s;
}

.custom-image-container:hover .custom-image-caption {
    opacity: 1;
}






@media (max-width: 576px) {
    /* Apply specific styles for mobile view */
    .custom-image-container {
        width: calc(80% - 10px); /* Adjust margins as needed */
        margin: 5px;
        height:200px;
    }
}
.inline-form
 {
    display:inline !important;
 }
.text-color-black
{
    color: #737373;
}
.text-color-link {
    position: relative;
    color: #091e38;
    font-size: 13px;
    text-decoration: none;
    font-weight: 200;
    padding: 2px 0;
}

.text-color-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1f91a9;
    transition: width 0.3s ease-in-out;
}

.text-color-link:hover::before {
    width: 100%;
}

.text-color-link:hover {
    color: #0e2a5a;
}
.text-color-black:hover
{
    color: #737373;
}

.text-color-snow {
    color:#FFFFFF !important;
}


.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginate .pagination {
    margin: 0;
}

.paginate .page-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px; /* Adjust this margin as needed */
}

.paginate .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white; /* Change the text color to match background color */
}

.paginate .page-item .page-link {
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 8px 12px; /* Adjust padding as needed */
}

.paginate .page-item .page-link:hover {
    background-color: #007bff;
    color: white;
}
.hidden-cat
{
    display:none;
}

.cursor-pointer
{
    cursor: pointer;
}


.table-log thead th {
    background-color: #f2f2f2;
    color: #333;
    padding: 7px;
    border: 1px solid #ccc;
    font-weight: bold;
    border-bottom: 2px solid #ccc; /* خط زیر هدر جدول */
    transition: background-color 0.3s ease-in-out; /* انتقال رنگ با انیمیشن */
}
#swal2-input {
    border: 2px solid #3498db;
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
    font-family: 'iransans', "Arabic Typesetting", serif;
}

#swal2-input::placeholder {
    color: #999;
}

#swal2-input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 10px rgba(102, 175, 233, 0.6);
}

/* Hide number input's up and down buttons */
#swal2-input::-webkit-inner-spin-button,
#swal2-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Hide number input's up and down buttons in Firefox */
#swal2-input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
#swal12label
{
    font-family: 'iransans', "Arabic Typesetting", serif;
}
.hide-element
{
    display:none;
    visibility: hidden;
}

.dropdown-element
{
    display:inline !important;

}
.swal2-popup {
    width: 420px; !important; /* Adjust the width to your preference */
    font-family: iransans, "Arial Black", arial-black, serif;
}
.swal2-html-container
{
    font-size: 14px !important;
}

.catItemHover:hover
{
    border:1px solid #683ba9;
    background:#efefdf ;
    border-radius:4px;
    transition: 250ms ease-in;

}











/* Define styles for the tree structure */
.tree-list {
    list-style-type: none;
    padding-left: 10px; /* Adjust the indentation as needed */
}

/* Style checkboxes */
.form-check-input {
    margin-right: 2px;
}

/* Style labels */
.label {
    font-weight: normal;
}

/* Style labels for checked checkboxes */
.form-check-input:checked + .label {
    font-weight: bold;
}


.blinking-badge {
    animation: blink 750ms infinite alternate;
}

@keyframes blink {
    from {
        opacity: 1;

    }
    to {
        opacity: 0.2;

    }
}


